.mainFooter {
    p {
        font-size: 1.2rem;
        font-weight: 400;
        font-family: $secondFont;
        padding: 10px 0;
        text-align: center;
    }
    span {
        font-weight: 900;
        font-family: $mainFont;
        font-size: 3rem;
        display: block;
    }
}

.footerSocial {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
        list-style: none;
    }

    a {
        font-size: 3rem;
        color: $mainColor;
        padding: 0 20px;
    }
    a:hover,
    a:focus {
        color: pink;
    }
}