
// from desktop to tablet
@media only screen and (max-width: 600px) {
    .photo {
        width: 450px;
        height: 450px;
    }
    .signin {
        width: 100%;
    }
}

//tablet to larger mobile screen
@media only screen and (max-width: 480px) {
    .photo {
        width: 350px;
        height: 350px;
    }
    .titleHeader {
        font-size: 1.7rem;
    }
}
//smallest mobile screen
@media only screen and (max-width: 320px) {
    .photo {
        width: 300px;
        height: 300px;
    }
}