@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lato&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navWrapper {
  background-color: #846075;
  position: -webkit-sticky;
  position: sticky;
}

.contentContainer a {
  font-size: 1rem;
}

a.navLogo {
  font-size: 2rem;
  font-family: "Dancing Script", cursive;
  padding: 0 10px;
}

.formContainer {
  padding: 40px;
}

.signin {
  background-color: white;
  height: 600px;
  width: 600px;
}

h4 {
  color: black;
}

.signinBtn {
  border: none;
  background: #DB7093;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 20px;
  padding: 40px 20px;
}

.signinBtn:hover,
.signinBtn:focus {
  opacity: .6;
}

#homePage {
  height: 100vh;
}

.photo {
  margin: 100px auto;
  width: 500px;
  height: 500px;
  border: solid #F8F4EF;
  border-width: 1.25em 1.25em 5em;
  background: #3B373A;
  -webkit-box-shadow: 1px 1px 8px -2px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 1px 8px -2px rgba(0, 0, 0, 0.75);
}

.titleHeader {
  position: absolute;
  font-size: 2rem;
  top: 40rem;
  left: 34rem;
  font-family: "Dancing Script", cursive;
  font-weight: 600;
}

.headerPhoto {
  opacity: 0;
  width: 100%;
  height: 100%;
}

.headerPhoto:hover {
  -webkit-animation: develop 4s;
          animation: develop 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes develop {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.05;
  }
  20% {
    opacity: 0.1;
  }
  30% {
    opacity: 0.17;
  }
  40% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes develop {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.05;
  }
  20% {
    opacity: 0.1;
  }
  30% {
    opacity: 0.17;
  }
  40% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.personalBoard {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.travelEntry {
  width: 600px;
  height: 600px;
}

h2 {
  margin: 0 auto;
  color: #ffff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  padding: 30px 0;
}

h3 {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  margin: 0 auto;
}

p {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

form {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 10px solid #846075;
  border-radius: 10px;
}

label {
  color: #ffff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

input {
  height: 300px;
  border-radius: 10px;
  border: none;
  text-align: center;
  font: 400 1.5rem "Lato", sans-serif;
  color: #846075;
}

.pac-item {
  background-color: #DB7093;
  font-size: 1rem;
  color: white;
  font-family: "Lato", sans-serif;
  padding: 5px 0;
}

.pac-item:hover,
.pac-item:focus {
  background-color: #DB7093;
  opacity: 0.55;
}

.eachEntry {
  background: #fff;
  width: 250px;
  height: 250px;
  display: inline-block;
  margin: 20px;
  padding: 5px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 2px;
          box-shadow: 0 0 2px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.eachEntry:before {
  content: '';
  position: absolute;
  right: -15px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 70px;
  height: 30px;
  background: #846075;
  opacity: 0.7;
}

.button {
  border: none;
  background: #DB7093;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 20px 40px;
}

.button:hover,
.button:focus {
  opacity: .6;
}

.leaflet-container {
  height: 600px;
  width: 600px;
  border: 10px solid #846075;
  border-radius: 10px;
}

.mainFooter {
  background-color: #846075;
}

.mainFooter p {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  padding: 10px 0;
  text-align: center;
}

.footerSocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerSocial li {
  list-style: none;
}

.footerSocial a {
  font-size: 3rem;
  color: pink;
  padding: 0 20px;
}

body {
  background-color: #EFEFF0;
}
/*# sourceMappingURL=App.css.map */